.principal-container {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

.personal-card{
  padding: 1rem;
}

.init-box {
  padding: 1rem;
}

.title-container h2{
  visibility: hidden;
}